{% extends 'base.html'%} 


{%block body%}
<div class="container">

      <div style="margin-top: 6em;" class="great-people-food">
        <h1 class="yellow-text sacramento heading" style="margin: 1em 0 0 0;">Catering Services</h1>
        <h1 class="heading" style="margin: 0 0 0.4em 0;">OUR SERVICES</h1>
          <p>We pride ourselves on creating unique menus to accommodate every special event.</p> <br>
          <p>From casual in-home brunches and office lunches to elegant weddings and glamorous film/tv productions, our catering services are perfect for any size, any style, and are customized to your budget.</p>

           
      </div>

        

      <div class="events">
        <div class="event-row">
          <h2 class="heading yellow-text sacramento center">Social events</h2>
          <img src="../static/images/social.jpg" alt="">
        </div>
        <div class="event-row">
          <h2 class="heading yellow-text sacramento center">Corporate parties</h2>
          <img src="../static/images/coporate.jpg" alt="">
        </div>
        <div class="event-row">
          <h2 class="heading yellow-text sacramento center">Holidays</h2>
          <img src="../static/images/pexels-talena-reese-9936058.jpg" alt="">
        </div>
        <div class="event-row">
          <h2 class="heading yellow-text sacramento center">Weddings</h2>
          <img src="../static/images/wed.jpg" alt="">
        </div>
      </div>

      <div class="pick-up-drop-off">
        <div class="img-pick-up-drop-off">

        </div>

        <div class="pick-up-drop-off-text">
          <div>
            
          <h1 class="heading sacramento" style="margin: 0;">Still Unsure</h1>
          <h3 class="sub-heading">WHICH CATERING SERVICE IS RIGHT FOR YOU?</h3>
          <p>We look forward to hearing from you and discussing your needs.</p>
          <div class="new-link-button">
              <a href="https://wa.link/nak8zc">CONNECT WITH US</a>
            </div>
        
        </div>
        </div>
      </div>

</div>
{%endblock body%}